tokens.py
channel_ids.json
funbot.db
feedback.txt
h_points.json
hangman.json
jklm.json
main_base_.py
discloud.config
score.json
sbtest.db
testdb.db
testsb.db
test-2.py
test.py
testing bot invite link.txt
testingbot token.txt
word.json
cogs/__pycache__/actions.cpython-311.pyc
cogs/__pycache__/actions.cpython-312.pyc
cogs/js_test.js
__pycache__/channel_ids.cpython-312.pyc
__pycache__/hang.cpython-312.pyc
__pycache__/score.cpython-312.pyc
__pycache__/tokens.cpython-312.pyc
__pycache__/ttt.cpython-312.pyc
.vscode/settings.json
tictactoe.json
cogs/__pycache__/jklm.cpython-311.pyc
cogs/__pycache__/jklm.cpython-312.pyc
cogs/__pycache__/uttt.cpython-311.pyc
cogs/__pycache__/uttt.cpython-312.pyc
slap.gif
slap1.gif
slap2.gif
slap3.gif
slap4.gif
slap5.gif
X66.png
X198.png
punch4.gif
punch3.gif
poke.gif
poke1.gif
poke3.gif
O198.png
O66.png
punch.gif
poke2.gif
punch1.gif
kick2.gif
kick1.gif
kick4.gif
kick3.gif
kick5.gif
kick.gif
kick6.gif
gameboard.png
3x3grid.png
3x3draw.png
3x3nextbox.png
punch2.gif
